@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:900');
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
.clearfix::after {
    display: table;
    content: '';
    clear: both;
}
.contaner {
    width: 1110px;
    margin: 0 auto;
}
body {
    color: #515151;
    font-family: 'Roboto', sans-serif;
}
.page-nav {
    padding: 38px 0;
    margin-bottom: 67px;
}
.site-navigation {
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    margin-top: 5px;
    padding: 0;
    vertical-align: middle;
    width: 476px;
}
.site-navigation li {
    float: left;
}
.site-navigation li:not(:last-child) {
    margin-right: 32px;
}
.site-navigation a {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
}
.site-navigation a:hover,
.site-navigation a:focus {
    color: #25b4f5;
}
.site-logo {
    display: inline-block;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
h2 {
    font-size: 48px;
    text-align: center;
    margin-bottom: 80px;
    text-transform: uppercase;
}
h2::after {
    content: "";
    width: 164px;
    height: 7px;
    background-color: #1abc9c;
    display: block;
    margin: 40px auto 0;
}
.product-list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.product-list-item {
    float: left;
    width: 255px;
    margin-right: 30px;
    margin-bottom: 30px;
    padding: 0;
}
.dollar {
    float: right;
    width: 54px;
    background-color: #8c8c8c;
    color: white;
    font-style: 18px;
    line-height: 22px;
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: center;
}
.product-list-name {
    float: left;
    width: 201px;
    text-transform: uppercase;
    color: white;
    background-color: #323232; 
    font-style: 18px;
    line-height: 22px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 13px;
}
.product-list-item:nth-child(n + 4) {
    margin-bottom: 0;
}
.product-list-item:nth-child(4n) {
    margin-right: 0px;
}
.dollar::before {
    content: "\0024";
} 
.features {
    padding-bottom: 90px;
}
.latest-news {
    padding: 0;
    margin: 0;
    list-style: none;
}
.latest-news-list {
    float: left;
    width: 350px;
}
.latest-news-list:not(:last-child) {
    margin-right: 30px;
}
.latest-news-list img {
    margin-bottom: 15px;
}
.latest-news-header {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    line-height: 22px;
}
.latest-news-paragraph {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 22px;
    color: #555252;
    margin-bottom: 15px;
}
.latest-news-underline::after {
    content: "";
    height: 4px;
    width: 136px;
    background-color: #1abc9c;
    display: block;
    margin-top: 15px;
    margin-bottom: 30px;
}
.butt {
    border-radius: 5px;
    padding: 15px 43px;
    background-color: #4ec6ab;
    color: white;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 20px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}
.product-list-item:hover .dollar {
    background-color: #7fd9c7;
    cursor: pointer;
}
.product-list-item:hover .product-list-name {
    background-color: #1abc9c;;
    cursor: pointer;
}